html{
  background-color: #EEEEEF;
}
.App {
  display: block;
  margin: 20px 5% 0 5%;
  width: 90%;
}
.firstDiv {
  display: block;
  text-align: center;
}
.pInputDiv {

}
.warkedBlock{

}
.inputs{
  display: block;
  margin: 25px 0 0 0;
  width: 220px;
  text-align: center;
}
.blockOfWorkers {
  display: block;
}

.pWorker {
  font-size: 16px;
}
.inputsP {
  width: 95%;
  margin: 0 0 10px 0;
}
.btnInputsP {
  text-align: center;
}
.checkWorker{
  display: block;
  margin: 25px 0 0 0;
  width: 220px;
  text-align: center;
}
#mainDiv {
  display: none;
}
.button1 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button1:hover,
.button1:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button1:active {
  opacity: .5;
}

