.App {
  display: block;
  margin: 20px 5% 0 5%;
  width: 90%;
}
.firstDiv {
  display: block;
  text-align: center;
}
.pInputDiv {

}
.warkedBlock{

}
.inputs{
  display: block;
  margin: 25px 0 0 0;
  width: 220px;
}
.blockOfWorkers {
  display: block;
}

.pWorker {
  font-size: 16px;
}
.inputsP {
  width: 95%;
  margin: 0 0 10px 0;
}
.btnInputsP {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inputs {
  display: grid;
} */
